<% @products.map do |product| %>
  <h2>Name: <%=product.name%> </h2>
  <h4>Price: <%=product.price%> </h4>
  <h4>Description: <%=product.description%> </h4>
  <h4>Supplier: <%=product.supplier.name%> </h4>

  <img src="<%=product.images.first{url}%>" alt="">
  <a href="/products/<%= product.id %>">More Info</a>
 <%end %>
